[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maluga-net
[access "refs/for/refs/*"]
	read = group user/maluga-net
	push = group user/maluga-net
	label-Code-Review = -2..+2 group user/maluga-net
	label-Verified = -1..+1 group user/maluga-net
	rebase = group user/maluga-net
	removeReviewer = group user/maluga-net
	submit = group user/maluga-net
[access "refs/heads/*"]
	read = group user/maluga-net
	create = group user/maluga-net
	push = +force group user/maluga-net
	pushMerge = group user/maluga-net
[access "refs/tags/*"]
	push = +force group user/maluga-net
	pushTag = group user/maluga-net
	pushSignedTag = group user/maluga-net
